/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
;* Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

blockquote {
    border-left: solid 3px;
    padding-left: 0.5em;
}

body {
    color: rgb(69, 69, 69);
    margin-top: 36px;
    margin-bottom: 0;
    //background-color: #eaeaea;
    //background-color: rgba(0,0,0,0.8);
}

iframe {
}

h2, h3, h4, h5, h6 {
    margin-top: 1.61em;
}

#adsense-left {
    display: none;
}

#adsense-right {
    position: fixed;
}

#bottom {
    padding-top: 10px;
    font-size: 0.7em;
    width: 100%;
}

#center {
    -webkit-flex-grow:100;
    -moz-flex-grow:100;
    -ms-flex-grow:100;
    -o-flex-grow:100;
    flex-grow:100;
    min-height: 500px;
}

#content {
    line-height: 1.61;
    max-width: 640px;
    margin: 30px auto 10px auto;
    padding: 0 1em;
}

#content h1, #index h1 {
    font-size: 1.61em;
    color: black;
    line-height: 1.2em;
}

#index h1 a {
    color: black;
}

#content img {
    max-width: 98%;
    border: 1px solid #c2c2c2;
    padding: 1%;
}

#disqus {
    font-size: 12px;
    width: 700px;
    margin: 10px 0;
}

#disqus_thread {
    font-size:13px;
}

.post-content {
    font-size:13px;
}

#hatena {
    font-size: 0.8em;
    width: 250px;
}

#hatena-bookmark-widget0 {
    background-color:#f8f8f8;
    padding: 10px;
    margin-top: 60px;
    margin-left: 30px;
}

#index .asset-more-link {
    clear: both;
    margin-bottom: 1.5em;
    padding-bottom: 0.5em;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    text-align: right;
}

#index img, #index iframe{
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 300px;
    float: left;
}

#index h2 {
    margin: 10px 0 0 0;
}

#index .entry-content {
    display: block;
}

#index .flickr-exif {
    display: none;
}

#top {
    background-color: rgba(0,0,0,0.8);
}

#left {
    //background-color: #fe0798;
}

#middle {
    background-color: white;
}

#right {
    //background-color: #90e4d9;
}

#center {
    //background-color: #fffef9;
}

#bottom {
    background-color: #d8d8d8;
}

#left {
    -webkit-flex-grow:200px;
    -moz-flex-grow:200px;
    -ms-flex-grow:200px;
    -o-flex-grow:200px;
    flex-grow:200px;
    min-width: 200px;
    padding: 10px;
    //border: solid 1px;
    //border-color: #ede5e9;
    margin-bottom: 10px;
}

#left li {
    list-style-type: none;
    margin-bottom: 10px;
}

#left ul {
    padding-left: 1em;
}

#left-static {
    position: fixed;
}

#left a, #right a {
    //color: rgb(69, 69, 69);
    //color: #b0b0b0;
    color: gray;
}

#middle {
    top: 60px;
}

#post-info {
    margin-top: -1em;
}

#right {
    font-size: 0.74em;
    min-width: 300px;
    //border: solid 1px;
    //border-color: #ede5e9;
}

#social-buttons div, #social-buttons iframe{
    margin-right:15px !important;
    height: 73px;
}

#social-button-top {
    margin-right: 10px;
}

#title {
    color: #bf243e;
    font-size: 1.41em;
    font-weight: bold;
    margin: 2px 0 0 10px;
}

#title a {
    color: #bf243e;
}

#title-face {
    height: 25px;
    margin: -6px 3px 0 -1px;
}

#title-logo {
    height: 30px;
    margin: -2px 0 0 -6px;
}

#top {
    height: 38px;
    //background-color: rgba(255, 255, 255, 0.8);
    //background-color: rgba(5, 5, 5, 0.8);
    //box-shadow: 0 1px gray;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

#zenback {
    display: none;
    padding: 10px;
    max-width: 300px;
}

.flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction:row;
    -moz-flex-direction:row;
    -ms-flex-direction:row;
    -o-flex-direction:row;
    flex-direction:row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-nowrap {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction:row;
    -moz-flex-direction:row;
    -ms-flex-direction:row;
    -o-flex-direction:row;
    flex-direction:row;
    -webkit-flex-wrap: no-wrap;
    -moz-flex-wrap: no-wrap;
    -ms-flex-wrap: no-wrap;
    -o-flex-wrap: no-wrap;
    flex-wrap: no-wrap;
    overflow: hidden;
}

.flex-column {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.flex-center {
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
}

.flex-horizontal-center {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
}

.flex-horizontal-space-between {
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
}

.flex-right, .flex-social {
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -o-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
}

.flex-vertical-center {
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
}

.footer {
    color: gray;
    margin-top: 30px;
}

.copyright{
    color: gray;
    margin-bottom: 5px;
}

.hatena-moduletitle {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 10px;
    margin-left: 10px;
    text-decoration: underline;
}

.html-boilerplate-bottom, .html-boilerplate-left {
    background-color: #fdf4fb;
    width: 300px;
    height: 250px;
}

.html-boilerplate-right {
    background-color: #fdf4fb;
    display: block !important;
    margin: 0 auto !important;
    width: 300px;
    height: 250px;
}

.pocket-btn {
    display: inline-block;
}


.social-icon-top {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.sub-text, .flickr-exif {
    color: gray;
    font-size: 0.84em;
}

.flickr-exif {
    margin-top: 3px;
    margin-bottom: 2em;
}

@media(min-width: 500px) {
    #disqus {
        width: 90%;
    }
}

@media(min-width: 800px) {
    #disqus {
        width: 700px;
    }
}

@media only screen and (max-width: 1350px) {
    #adsense-right {
        position: static;
    }

    #right {
        width: 100%;
    }
}

@media only screen and (max-width: 1060px) {
    #left {
        -webkit-order: 100;
        padding: 10px 0 0 0;
        min-width: 100%;
    }

    #hatena {
        margin: 0;
        -webkit-flex-basis: 468px;
        -moz-flex-basis: 468px;
        -ms-flex-basis: 468px;
        -o-flex-basis: 468px;
        flex-basis: 468px;
    }

    #hatena-bookmark-widget0 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #zenback {
        max-width: 800px;
        margin: 0 auto;
        padding: 10px;
    }
}

@media only screen and (max-width: 767px) {
    #hatena-bookmark-widget0 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
    #adsense-left {
        display: none;
    }
    #disqus {
        width: 90%;
    }
    #adsense-right {
        position: static;
    }

    #hatena {
        width: 100%;
    }
    #hatena-bookmark-widget0 {
        margin: 0px;
    }
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
